<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

		<title></title>
		<link rel="icon" type="image/png" href="/favicon.png">

		<meta property="og:type" content="website">
		<meta property="og:title" content="Kakin">
		<meta property="og:description" content="A server for bitnari games.">

		<meta name="theme-color" content="#1396f2">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="stylesheet" href="/dist/kakin.bundle.css">
	</head>

	<body>
		<div id="app"></div>
		<script src="/dist/kakin.bundle.js"></script>
		<script>
			setEnvironment(new ElectronEnvironment(require('electron')));
		</script>
	</body>
</html>
