<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

		<title></title>
		<link rel="icon" type="image/png" href="/favicon.png">

		<meta property="og:type" content="website">
		<meta property="og:title" content="Kakin">
		<meta property="og:description" content="A server for bitnari games.">

		<meta name="theme-color" content="#1396f2">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<style>
			html, body {
				margin: 0;
				padding: 0;
			}

			iframe {
				width: 100vw;
				height: 100vh;
				border: none;
			}
		</style>
	</head>

	<body>
		<script>
			const {ipcRenderer} = require('electron');

			const showTarget = location.href.match(/\?(.*)$/)[1];
			let closeRequested = false;

			const iframe = document.createElement('iframe');
			iframe.src = decodeURIComponent(atob(showTarget));

			ipcRenderer.on('close', () => {
				closeRequested = true;
				ipcRenderer.send('close');
			});

			window.addEventListener('message', (ev) => {
				ipcRenderer.send('play-finished', ev.data);
			});

			document.body.append(iframe);

			window.onbeforeunload = () => {
				if(closeRequested) {
					return;
				}

				return false;
			};
		</script>
	</body>
</html>
